# Ignore all files in the INBOX, ARCHIVE, and SECURE folders
00_INBOX/*
80_SECURE/*
!80_SECURE/.gitkeep
90_ARCHIVE/*

# Personal workspace settings
.obsidian/workspace.json

# Plugin personal data  
.obsidian/plugins/*/data.json