# Ignore all files in the INBOX, ARCHIVE, and PERSONAL folders
00_INBOX/*
!00_INBOX/.gitkeep
70_PERSONAL/*
!70_PERSONAL/.gitkeep
90_ARCHIVE/*
!90_ARCHIVE/.gitkeep

# Local settings file
settings.local.json

# Personal workspace settings
.obsidian/workspace.json

# Plugin personal data  
.obsidian/plugins/*/data.json