# 00_INBOX: folder tracked, contents ignored
00_INBOX/*

# 80_SECURE: folder tracked, contents ignored
80_SECURE/*
!80_SECURE/.gitkeep

# Personal workspace settings
.obsidian/workspace.json

# Plugin personal data  
.obsidian/plugins/*/data.json